section.discount
	.container
		.discount__body
			.discount__column
				.discount__item
					img(src="./assets/imgs/3message.svg" alt="icon").discount__img
					.discount__content
						h3.discount__title Loyalty Points
						p.discount__txt Collect points on each store and redeem them to change for Teas.
				.discount__item
					img(src="./assets/imgs/2message.svg" alt="icon").discount__img
					.discount__content
						h3.discount__title Exclusive Store Discounts
						p.discount__txt You can enjoy lots of discounts from the selected stores near you.
				.discount__item
					img(src="./assets/imgs/1message.svg" alt="icon").discount__img
					.discount__content
						h3.discount__title T.Pass Free Drinks
						p.discount__txt 2 Teas for $5.99 each month. and you can carry them over to the next month.
			.discount__imgs
				img(src="./assets/imgs/people_m.png" alt="people")