section.phone1
	.container
		.phone1__body
			.phone1__imgs-bloc
				.phone1__imgs
					img(src="./assets/imgs/phone1.png" alt="phone").phone1__phone-img
					img(src="./assets/imgs/coffe.png" alt="coffe").phone1__coffe-img
					img(src="./assets/imgs/chips.png" alt="chips").phone1__chips-img
			.phone1__content
				p.phone1__subtitle Your daily pick-me-up
				h2.phone1__title How does it work.
				p.phone1__txt Start choosing your favorite teas and snacks in your nearby stores and place your orders, accumulate points, share gifts and teas with your friends and co-workers, and finally use our T-Pass to get your free drinks.
